<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
           id="com.pakhshyaran.kara.plugins"
      version="0.1.0">
  <name>GPSTracking</name>
  <description>Sends GPS location of the device to a remote server intervally.</description>
  <license>MIT</license>
  <keywords>phonegap,GPS,Tracking</keywords>


  <js-module src="www/GPSTracking.js" name="GPSTracking">
    <clobbers target="window.gpsTracking" />
  </js-module>

  <!-- android -->
  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="Calendar">
        <param name="android-package" value="com.pakhshyaran.kara.plugins.GPSTracking"/>
      </feature>
    </config-file>

    <source-file src="src/android/GPSTracking.java" target-dir="src/com/pakhshyaran/kara/plugins" />
  </platform>
</plugin>
